button {
    padding: 10px 0;
    font-size: 1.1em;
    color: var(--color-primary);
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:disabled {
    color: var(--color-tertiary);
    cursor:default;
    text-decoration: none;
}